{% block repository %}
    <div class="repository">
        <h2 class="repository-title">{{ repository.slug }}</h2>

        <div class="repository-description">{{ repository.description }}</div>
    </div>
{% endblock %}