body {
    background-color: #28497f;
}

#jarvis-wrapper {
    color: #fff;
    background-color: #28497f;
    font-size: 16px;
    text-shadow: 1px 1px 1px #333;
}

.jarvis-title {
    font-size: 350%;
    margin-bottom: 1em;
}

.jarvis-logo {
    height: 80px;
}