/* GENERAL STYLING RULES */

.repository {
    color: #fff;
    border: 1px solid #EDEDED;
    padding: 1em;
}

.repository h2 {
    margin: 0;
    padding: 0;
}

/* RESPONSIVE DESIGN FOR LISTING INTERFACE */

@media (min-width: 1200px) {
    .repository-build {
        text-align: center;
    }

    .repository-build-time {
        text-align: right;
    }
}

@media (max-width: 1199px) {
    .repository > .repository-meta {
        margin-top: 2em;
    }

    .repository > div {
        margin-bottom: 2em;
    }
}

/* COLOUR CODES FOR BUILD RESULT */

@keyframes glowing {
    0% {
        background-color: #974c25;
    }
    50% {
        background-color: #b76229;
    }
    100% {
        background-color: #974c25;
    }
}

.repository-result- {
    animation: glowing 1500ms infinite;
}

.repository-result-0 {
    background-color: #499989;
}

.repository-result-1 {
    background-color: #c44d48;
}